* {
  scrollbar-color: unset !important;
  scrollbar-width: unset !important;
}

::-webkit-scrollbar-thumb {
  background-color: #3ddfff !important;
}

::-webkit-scrollbar {
  width: 20px !important;
}
