::-webkit-scrollbar-thumb {
  background-color: #04c0a4 !important;
}

::-webkit-scrollbar {
  width: 20px !important;
}
/* 
::-webkit-scrollbar-button {
  background-color: #ff0;
} */

/* ::-webkit-scrollbar-track {
  background-color: #7fffd4;
} */
